html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "open sans", helvetica, sans-serif;
}

header {
  text-align: center;
  height: 6vh;
  margin-top: 20px;
}
.heading {
  font-size: 30px;
}

@media (min-width: 1300px) {
  section {
    flex-direction: column;
  }
}
h1 {
  margin-bottom: 0;
  font-weight: bold;
}
.title {
  padding-top: 30px;
  text-align: center;
  font-size: 17px;
}
.flex {
  margin: 16px;
  column-gap: 22px;
  justify-content: center;
  margin: 10px;
  display: flex;
}

@media (max-width: 768px) {
  .flex {
    display: inline-block;
  }
  .header-title {
    margin-bottom: 30px;
  }
  .title {
    text-align: left;
  }
}

.submit {
  text-align: center;
}
.sumbit-div {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#div134 {
  margin-top: 30px;
}

.alert-danger {
  color: #842029;
  background-color: #ce0b1c;
  border-color: #ce0b1c;
  text-align: center;
}
